#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* background-color: #ffffff; */
  border-radius: 16px;
  padding-bottom: 3rem;
}

tr:nth-child(even) {
  background: #f2f2f2;
}

tr:nth-child(odd) {
  background: #fff;
}

th,
td {
  padding: 0.5rem;
}

body {
  background-color: rgb(111, 158, 153);
  background-color: linear-gradient(
    90deg,
    rgba(36, 204, 189, 1) 0%,
    rgba(62, 166, 184, 1) 73%,
    rgba(42, 181, 209, 1) 100%
  );
  background-image: url("/images/subtlebg.png");
  background-size: cover;
  background-blend-mode: overlay;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  #root {
    padding: 0.5rem;
  }

  th,
  td {
    padding: 0.25rem;
  }
}
