#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #ffe8d6;
  border-radius: 5%;
  padding-bottom: 3rem;
}

tr:nth-child(even) {
  background: #f2f2f2;
}

tr:nth-child(odd) {
  background: #fff;
}

th,
td {
  padding: 0.5rem;
}

body {
  background-color: #6d5e4f;
  background-image: url("/images/subtlebg.png");
  background-size: cover;
  background-blend-mode: overlay;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  #root {
    padding: 0.5rem;
  }

  th,
  td {
    padding: 0.25rem;
  }
}
